<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
    <link rel="stylesheet" th:href="@{/css/create.css}">
</head>
<body>
    <div class="container">
        <h1>Create Todo</h1>
        <p th:if="${error}" style="color: red; text-align: center; margin-bottom: 1rem;"th:text="${error}"></p>
        <div class="form">
            <form th:action="@{/create}" th:object="${todo}" method="post">
                <label for="username">
                    <select th:field="*{user.id}" id="username" required>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}" selected></option>
                    </select>
                </label>
                <label>
                    <input type="text" th:field="*{title}" name="title" placeholder="Title"/>
                </label>
                <label for="completed">
                    <select th:field="*{completed}" id="completed">
                        <option value="true">Completed</option>
                        <option value="false">Not Completed</option>
                    </select>
                </label>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</body>
</html>