<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>

        <button th:attr="data-url=@{'/create'}"
                onclick="location.href=this.getAttribute('data-url')">
            Create New Todo
        </button>

        <div class="form">
            <form th:action="@{/list}" method="get">
                <label>
                    <input type="text" name="title" placeholder="Filter by Title..." th:value="${title}"/>
                </label>
                <label>
                    <input type="text" name="username" placeholder="Filter by Username..." th:value="${username}"/>
                </label>
                <button type="submit">Filter</button>
            </form>
        </div>

        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Username</th>
                    <th>Country</th>
                    <th>Completed</th>
                    <th></th>
                </tr>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.title}"></td>
                    <td th:text="${todo.user.username}"></td>
                    <td th:text="${todo.user.address.country}"></td>
                    <td th:text="${todo.completed}"></td>
                    <td>
                        <button th:attr="data-url=@{'/edit/' + ${todo.id}}"
                                onclick="location.href=this.getAttribute('data-url')">
                            Edit
                        </button>
                </tr>
            </table>
        </div>

        <div class="pagination">
            <button th:attr="data-url=@{'/list'(page=${todos.number - 1}, title=${title}, username=${username})}"
                    th:disabled="${!todos.hasPrevious()}"
                    onclick="location.href=this.getAttribute('data-url')">
                Previous Page
            </button>

            <button th:attr="data-url=@{'/list'(page=${todos.number + 1}, title=${title}, username=${username})}"
                    th:disabled="${!todos.hasNext()}"
                    onclick="location.href=this.getAttribute('data-url')">
                Next Page
            </button>
        </div>
    </div>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('success') === 'true') {
        alert('Todo created successfully!');
    }
</script>
</html>